$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$border: #000;

.board {
  margin: 20px 0;
}

.col-xs-4 {
  border: 1px solid $border;
  font-size: 50px;
  height: 100px;
  padding: 2% 0;
  text-align: center;
}

.col-xs-12 {
  border: 1px solid $border;
  font-size: 75px;
  height: 100px;
  text-align: center;
}

.col-xs-1 {
  margin: 5px;
}
